services : 
 - type: web
   plan: free
   name: nodejs
   runtime: node
   buildCommand: npm run build
   startCommand: npm start
   envVars:
    - key: DB_NAME
      fromDatabase:
        name: db
        property: database
    - key: DB_HOST
      fromDatabase:
        name: db
        property: host
    - key: DB_USER
      fromDatabase:
        name: db
        property: user
    - key: DB_PASSWORD
      fromDatabase:
        name: db
        property: password
databases:
 - name: db
   plan: free